<md-content ng-cloak ng-controller="login.controller">
    <div layout="row" layout-align="center center">
        <md-card flex="50" id="login-panel">
            
            <md-toolbar>
                <div class="md-toolbar-tools">
                    Welcome to Chapp
                </div>
            </md-toolbar>

            <md-content class="md-padding" flex>
                <p layout="row">To continue on to the chat app, enter in a chat handle</p>
                
                <md-input-container layout="row">
                    <label>Email</label>
                    <input ng-model="user.email" type="email">
                </md-input-container>  

                <footer layout="row" layout-align="center center">
                    <md-button md-no-ink class="md-primary" ng-click="cancel()">Cancel</md-button>
                    <md-button class="md-raised md-primary" ng-click="login()">Enter</md-button>
                </footer>
            </md-content>

        </md-card>
    </div>
</md-content>